<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Registration Confirmation | TEDxJMI 2019</title>

<div style="box-sizing: border-box; 
font-family: Arial, Helvetica, sans-serif; font-size:14px; line-height:28px; margin-bottom:8px;
background-color: #fff;
display: block;
height: fit-content; 
padding: 0.5em;">
    <div style="margin-left: auto;
         margin-right: auto;
         background-color: #fff;
         color:#1a1a1a;
         padding: 0.5em 2em;
         max-width: 600px;">

        <p style="font-size: 2.5em;
        margin: 1em 0 0em 0;
        text-align: left;">
          <span style="color: #dd0000; font-weight: 800;">
            TED<sup>x</sup><span style="color: #000; font-weight: 400;">JMI</span>
          </span>
        </p>
        <p style="color: #000; font-weight: 400;
        font-size: 1.5em;
        margin: 0.5em 0 1em 0;
        text-align: left;">
          Breaking Shackles
        </p>
        <br>

        <p style="display: inline-block">
            Hi $name$<br><br>
    
            <b>Your ticket was booked successfully.</b>
            We take great pleasure in welcoming you to TEDxJMI 2019!
            Here are some important details that will make your experience pleasant and comfortable.
            <br>

            <div style="line-height: 1.125em; text-align: center; margin: 1em auto">
                <p style="font-size: 1.125em; margin-block-end: 0.5em"><b>$ticket$</b></p>
                <img src="https://barcode.tec-it.com/barcode.ashx?data=$ticket$&code=PDF417&unit=Fit&dpi=96&imagetype=png&rotation=0&color=%23000000&bgcolor=%23ffffff&qunit=Mm&quiet=1" alt=""/>
                <p style="color:#999; font-size: 12px; font-weight: 600;">
                    Please show this code at the entrance <br> 
                    to receive your entry passes.
                </p>
            </div>
        </p>

        <br>

        <p>
            <p style="color: #dd0000;
            font-size: 1.5em;
            font-weight: 600;
            margin: 1em 0 0.5em 0;
            text-align: center;">Venue</p>
            
              <p style="text-align: center; font-size: 1.25em;">
                <b>M.A. Ansari Auditorium</b><br>
                Gate Number 13, Jamia Millia Islamia <br>
              </p>
            
              <p style="text-align: center;">
                <a href="https://goo.gl/maps/4Y14DhZe4Fu"
                  style="text-decoration: none; color: #dd0000">
                  Open in Maps
                </a>
              </p>

            <p>
                <p style="font-size: 1.25em;
                font-weight: 600;
                margin: 1em 0 0.25em 0;
                text-align: center;">Nearby Metro Stations</p>
                <p style="text-align: center; margin: 0;">
                  <b>Jamia Millia Islamia</b> and <b>Sukhdev Vihar</b><br>
                  <span style="color: #dd00a6">Magenta Line</span>
                </p>
            </p>
        </p>

        <p>
          Our event staff will be present at the venue to guide you. 
          Please write to us or call us in case you face any problems.
          Hope to see you there!
        </p>

        <p style="color:#999; font-size: 10px; line-height: 1.125em; text-align: center; 
        max-width: 75%; margin: 2em auto;">
            Right of admission reserved. 
            No arms, sharp objects or incendiaries are allowed inside the venue. Please read the 
            <a href="https://tedxjmi.org/terms" style="font-weight: 600; color: #999; text-decoration: none;">
                <u>terms and conditions</u></a> carefully.
        </p>
    </div>
</div>