<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Payment Successful | TEDxJMI 2019</title>

<div style="box-sizing: border-box; 
font-family: Arial, Helvetica, sans-serif; font-size:14px; line-height:28px; margin-bottom:8px;
background-color: #fff;
display: block;
height: fit-content; 
padding: 0.5em;">
    <div style="margin-left: auto;
         margin-right: auto;
         background-color: #fff;
         color:#1a1a1a;
         padding: 0.5em 2em;
         max-width: 600px;">

        <p style="font-size: 2.5em;
        margin: 1em 0 0em 0;
        text-align: left;">
          <span style="color: #dd0000; font-weight: 800;">
            TED<sup>x</sup><span style="color: #000; font-weight: 400;">JMI</span>
          </span>
        </p>
        <p style="color: #000; font-weight: 400;
        font-size: 1.5em;
        margin: 0.5em 0 1em 0;
        text-align: left;">
          Breaking Shackles
        </p>
        <br>

        <p style="display: inline-block; margin: 0;">    
            <b>Your payment was successful.</b> <br>
            We take great pleasure in welcoming you to TEDxJMI 2019!
            Your payment was successfully recieved and you will soon get 
            your ticket confirmation email.
            <br>

            <div style="line-height: 1.125em; text-align: center; margin: 3em;">
              <p style="color:#999; font-size: 12px; font-weight: 600;">
                Transaction Code
              </p>
                <p style="font-size: 1.125em; margin-block-end: 0.5em"><b>2iq8wyaogu3vo8efgouv</b></p>
            </div>
        </p>

        <p>
          This is not a confirmation of your ticket booking. Please 
          inform us if you booked a ticket and only got this email 
          and not the ticket booking email.
        </p>

        <p style="color:#999; font-size: 12px; line-height: 1.125em; text-align: center; 
        max-width: 75%; margin: 2em auto;">
            Right of admission reserved. 
            No arms, sharp objects or incendiaries are allowed inside the venue. Please read the 
            <a href="https://tedxjmi.org/terms" style="font-weight: 600; color: #999; text-decoration: none;">
                <u>terms and conditions</u></a> carefully.
        </p>
    </div>
</div>