/* TITLE */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap:100,200,300,400,500,600,700,800,900");

.tedxjmi {
  color: #ff0000;
  font-size: 1em;
  
  .tedx {
    font-weight: 800 !important;
    margin-right: 0.125em;
  }
  .jmi {
    font-weight: 200 !important;
    color: #fff;
  }
}