/* TITLE */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap:100,200,300,400,500,600,700,800,900");

.tedxjmi {
  color: #ff0000;
  font-size: 1em;
}
.tedxjmi .alpha {
  font-weight: 900 !important;
  margin-right: 0.125em;
}
.tedxjmi .beta {
  font-weight: 400 !important;
  color: #fff;
}