@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap:100,200,300,400,500,600,700,800,900");

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #333333;

  color: #fff;
  text-align: center;
}

/* TYPOGRAPHY */
h1 {
  font-size: 4em;
  margin: 2.5rem 0;
}
h2 {
  font-size: 3em;
  font-weight: 400;
  margin: 1.5rem 0;
}
h3 {
  font-size: 2em;
  font-weight: 400;
  margin: 1rem 0;
}

p {
  font-size: 1.125em;
  font-weight: 200;
  text-align: left;
}

article {
  animation: fadeIn 0.25s ease forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

section {
  margin: auto;
  padding: 2em;
  max-width: 1000px;
  text-align: left;
}

a {
  font-size: 1em;
  text-decoration: none;
  color: #ff0000;
}

/* --------------------------------------- */

.spinner {
  position: absolute;
  border: 2px solid #ffffff6f; /* Light grey */
  border-top: 2px solid #fff; /* White */
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg); 
  }
}

.rotary {
  margin: auto auto;
  width: 100%;
  height: 100%;
  position: relative;
} .rotary:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  z-index: -1;
  background-color: #ff0000;
  animation: rotor 1000ms ease infinite;
}
@keyframes rotor {
  0%{
      width: 100%;
      right: 0;
      left: 0;
  }
  49%{
      width: 0;
      right: 0;
      left: 100%;
  }
  50%{        
      width: 0;
      left: 0;
      right: 100%;
  }
  99%{
      width: 100%;
      left: 0;
      right: 0;
  }
  100% {
      width: 100%;
      right: 0;
      left: 0;
  }
}

/* ============================================================================= */

header {
  z-index: 50;
}
header .container {
  padding: 1em;
  margin: auto auto;
  height: fit-content;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.hamburger {
  display: block;
  margin: auto 0 auto auto;
  height: 100%;
  padding: 1em;
  padding-right: 0.5em; 
  justify-self: center;
  align-self: flex-end;
  z-index: 11000;
}
.hamburger span,
.hamburger span::before,
.hamburger span::after {
  display: block;
  position: relative;
  background: #fff;
  height: 2px;
  width: 25px;
  transition: all 0.25s ease;
}
.hamburger span::before,
.hamburger span::after {
  content: '';
  position: absolute;
}
.hamburger span::before {
  bottom: 7px;
}
.hamburger span::after {
  top: 7px;
}

#sidebar-toggle:checked ~ .hamburger {
  position: fixed;
  top: 1.6em;
  right: 1em;
}
#sidebar-toggle:checked ~ .hamburger span::before {
  bottom: 0;
  transform: rotate(-45deg);
} #sidebar-toggle:checked ~ .hamburger span {
  background: transparent;
} #sidebar-toggle:checked ~ .hamburger span::after {
  top: 0;
  transform: rotate(45deg);
}

/* LOGO ----------------------------- */
header .logo {
  font-size: 1.5em;
  margin: 0.5em 0.25em;
}

/* SIDEBAR MENU --------------------- */
.sidebar {
  position: fixed;
  height: 100vh;
  width: 0;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 10000;
  max-width: 300px;
  background: linear-gradient(#ff0000, #aa0000);
  transition: all 0.25s ease;
} #sidebar-toggle:checked ~ .sidebar {
  opacity: 1;
  width: 60%;
}

/* SIDEBAR SHADOW */
.sidebar-shadow {
  position: fixed;
  display: none;
  opacity: 0;
  animation: show 0.25s ease reverse;
  width: 100vw;
  height: 100vh;
  margin: -1em;
  z-index: 9000;
} #sidebar-toggle:checked ~ .sidebar-shadow {
  display: block;
  opacity: 0.6;
  background-color: #000;
  animation: show 0.5s ease;
} @keyframes show {
  from { opacity: 0 } to { opacity: 0.6 }
}

/* NAVIGATION */
header .sidebar-nav {
  display: flex;
  flex-direction: column;
  margin: 8em 10em;
  width: 50%;
  height: fit-content;
  justify-self: center;
  align-self: flex-end;
  text-align: left;
  transition: all 0.5s ease;
} header .sidebar-nav a {
  color: #fff;
  margin: 1em;

  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

#sidebar-toggle:checked ~ .sidebar li {
  display: block;
  opacity: 1;
} #sidebar-toggle:checked ~ .sidebar .sidebar-nav {
  margin: 8em 2em;
}

/* DESKTOP MENU --------------------- */

.desktop-nav {
  display: none;
}
@media (min-width: 800px) {
  header .container {
    flex-direction: column;
  }
  header .sidebar {
    display: none;
    right: -60%;
  } #sidebar-toggle:checked ~ .sidebar {
    display: none;
  } 
  header .sidebar-nav {
    display: none;
  } 
  header .hamburger {
    display: none;
  }

  header .logo {
    font-size: 3em;
    margin: 2rem;
  }

  header .desktop-nav {
    display: block;
    margin: auto auto;
    display: inline-block;
    font-weight: 400;
  } header .desktop-nav a {
    color: #707070;
    margin: 2em;
  
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
  } header .desktop-nav a:hover {
    color: #fff;
    transition: all 0.5s ease;
  }
}

/* ============================================================================= */

footer {
  padding: 8em;
  text-align: center;
  /* background: linear-gradient(transparent, #00000080); */
  font-size: 0.75em;
}