.card {
  max-width: 250px;
  width: 12em;
  height: 20em;
  margin: 1em auto;

  display: flex;
  flex-direction: column;

  color: #000;
  background-color: #fff;
}

.card-content {
  /* padding: 1em; */
}