.card {
  max-width: 300px;
  width: 15em;
  height: 20em;

  margin: 2em auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .card:first-of-type {
    margin-right: 2em;
  }
  .card:last-of-type {
    margin-left: 2em;
  }
}

.card .card-content {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  background-color: #fff;
  color: #000;
}

.card .card-content img {
  height: 100%;
  object-fit: fill;

  margin : auto auto;
  z-index: 10;
}

.card-content .sub {
  position: absolute;
  bottom: 0;
  width: 100%;

  text-align: center;
  color: #fff;
  background: linear-gradient(transparent, #1c1c1cf0);
  padding: 1em;
  z-index: 20;
}

.card-content .sup {
  position: absolute;
  top: 0;
  width: 100%;

  text-align: center;
  background: linear-gradient(#1c1c1cf0, transparent);
  padding: 1em;
  z-index: 20;
}