.card {
  max-width: 300px;
  width: 15em;
  height: 20em;

  margin: 2em auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .card:only-child {
    margin: 2em auto;
  }
}

.card .card-content {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #000;
}

.card .card-content img {
  max-height: 120%;
  object-fit: cover;
  background-color: #fff;
  margin : auto auto;
  z-index: 10;
}

.card-content .sub {
  position: absolute;
  bottom: 0;
  width: 100%;

  text-align: center;
  color: #fff;
  background: linear-gradient(transparent, #1c1c1cf0);
  padding: 1em;
  z-index: 20;
}

.card-content .sup {
  position: absolute;
  top: 0;
  width: 100%;

  text-align: center;
  background: linear-gradient(#1c1c1cf0, transparent);
  padding: 1em;
  z-index: 20;
}

.drawer {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  animation: openDrawer 0.5s ease forwards;
  padding: 2em;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  background-color: #fff;
}
.drawer .drawer-content {
  padding: 2em;
  max-width: 600px;
  margin: auto;
}
.drawer .drawer-close {
  text-align: center;
  margin: 1em auto;
  padding: 0.5em 1.5em;
  border: 1px solid #1c1c1c80;
  cursor: pointer;
}
@keyframes openDrawer {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}